:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #f5f7fa, #c3cfe2); /* Light gradient background */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.login-background {
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
  min-height: 100vh;
}

.register-background {
  background: linear-gradient(to right, #b4b4b4, #a6c1ee);
  min-height: 100vh;
}

.default-background {
  background: linear-gradient(to right, #f5f7fa, #c3cfe2);
  min-height: 100vh;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
